<div class="Navbar">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2471A3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Operadores FCAB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="operador">Operadores</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
    <router-outlet></router-outlet>
<div class="container p-4">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
      <h5 class="text-uppercase">FCAB Contacto</h5>
      <p>
        Este contenido es de uso exclusivo para Operadores y trabajadores de Ferrocarril Antofagasta Bolivia, Antofagasta Minerals. El mal uso de este sistema conlleva podría conllevar varios problemas legales.
      </p>
    </div>
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-0">Links</h5>

      <ul class="list-unstyled">
        <li>
          <a href="#!" class="text-dark">FCAB WEB</a>
        </li>
        <li>
          <a href="#!" class="text-dark">Facebook</a>
        </li>
        <li>
          <a href="#!" class="text-dark">Twitter</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2021 Copyright:
  <a class="text-dark" href="/">FCAB.cl</a>
</div>

